.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

@media all and (min-width: 900px) {
    .content {
        width: 900px;
    }
}

.container img {
    width: 100%;
    height: auto;
}
 .form p  {
     color: red;
 }

 .container small {
     padding: 15px;
 }

 .blockComment {
     padding-top: 20px;
 }

.container textarea {
     width:100%;
     height:50px;
     margin:0 auto;
     resize:vertical;
     outline:none;
     border-radius:5px;

 }

